# üó≥Ô∏è Double voting and üéÇ the birthday problem with `R`

<img src="img/voting.jpg" alt="voting" width="400" align="left"/>

## Introduction

Claims of voter fraud are widespread. Here's one example:

> **‚ÄúProbably over a million people voted twice 
in [the 2012 presidential] election.‚Äù**
>
> Dick Morris, in 2014 on Fox News

Voter fraud can take place in a number of ways, including tampering with voting machines üì†, destroying ballots üó≥Ô∏è, and impersonating voters ü§ñ. Today, though, we will explore 
**double voting**, which occurs when a single person illegally casts more than one vote in an election.

To start, consider this fact:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 of those individuals had exactly the same birthday.

Were there 27 fraudulent "John Smith" ballots in the 2012 election? Let's find out.

## üéÇ The birthday problem üéÇ

<img src="img/birthday.jpg" alt="voting" width="200" align="left"/>

üöÄ Let's start with a similar problem: 

> In a room of 60 people, how likely is it that two people share exactly the same birthday? 
>
> Assume that every person in the room was born in the same year.

Before moving forward, think to yourself what could be a reasonable answer. 10\%? 50\%? 90\%? Something else?

üñ•Ô∏è To formally answer this question, we could use the following **algorithm**:

 > 1Ô∏è‚É£ We need a room of 60 people, and we need to know their birthdays.
 
 > 2Ô∏è‚É£ We need to check whether two people in that room share a birthday.
 
 > 3Ô∏è‚É£ We need to repeat steps 1 and 2 over and over.
 
 > 4Ô∏è‚É£ We need to figure out how often two or more people shared a birthday.

At the end of this tutorial, you'll be able to implement this algorithm in `R`!

## üìù The `sample` command

Here's the first step of our algorithm:

> 1Ô∏è‚É£ We need a room of 60 people, and we need to know their birthdays.

To simulate this in `R`, we could use the `sample` command, which works as follows:

> `sample(numbers to choose from, how many numbers to choose, whether to "put back" numbers)`

In [7]:
# To run code in a cell, click on the cell, and then 
# you can either press SHIFT + ENTER, 
# or press the triangular play button.
# What do you think is happening with the line of code below?

sample( c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) , 5, replace = FALSE)

[1]  4  2  1  8 10

In [8]:
# The colon symbol a:b allows us to create lists of consecutive 
# integers from a to b.
# This is exactly the same as the first cell, just easier to write!

sample(1:10, 5, replace = FALSE)

[1]  5 10  2  6  8

In [9]:
# Text that starts with a hash (#) is called a comment. It's a little note
# in your code that has no effect on the output.

sample(1:3, 5, replace = TRUE)

[1] 2 3 2 3 1

In [10]:
# Uncomment the line below and run the cell. Why does it fail?
# sample(1:5, 6, replace = FALSE)

### üöÄ Exercise

**Using `sample`, simulate a random draw of 60 birthdays.**

In [11]:
# Your code goes here!

# START
sample(1:366, 60, replace = TRUE)
# END

 [1] 125 204 303 246  77 128 265  60 183 221 230 174 219  65 106  66  13 357 330
[20] 349 366  96 320 293 207 256  61 121  15 156  29 156  97 112 236 148 278 289
[39] 127 140 313 179 190 174 308   1  34  35  65 292 283 118 261  49 325 274 160
[58]  40 147 181

### ‚è≠Ô∏è Optional Extension Problem

To learn more about an `R` function, run `?<function_name>`. For example, run `?sample` to print the documentation for the `sample` command.

> The documentation takes up a lot of space, so I recommend hiding it after you finish skimming.

In [85]:
# ?sample

`seq` is a more powerful way of generating sequences. Read the documentation for `seq` to learn how `seq` works. Then, use `seq` to generate a list of all even numbers between 100 and 110.

In [13]:
# Your code here!

# START
seq(100, 110, by=2)
# END

[1] 100 102 104 106 108 110

## üé∂ Interlude: Math, variables, vectors, and functions

### üìù Using `R` as a calculator

One simple (and useful) way to use `R` is as a calculator. For example:

In [14]:
5 + 10

[1] 15

In [15]:
30 * 3

[1] 90

In [16]:
25 / 5

[1] 5

In [17]:
3 ^ 2

[1] 9

In [18]:
(2 + 3) * 5

[1] 25

#### üöÄ Exercise

Use `R` to find the average of 42, 100, and 280.

In [19]:
# Your code here!

# START
(42+100+280)/3
# END

[1] 140.6667

### üìù  Variables

**Variables** are like boxes üì¶: they store things for us, and we can label them so we know what's inside.

Consider the following example:

> If x = 2, what is x + 5?

You guessed it: the answer is 7. Let's express the same problem using `R`:

In [20]:
# If x = 2, ...
x <- 2

# ... what is x + 5?
x + 5

[1] 7

Let's break down the code in the cell above.

#### 1Ô∏è‚É£ First step

In the first line of our code, we assigned the value `2` to the variable named `x` using `<-`.

In [21]:
# If x = 2, ...
x <- 2

The assignment operator (`<-`) tells R "Take the variable on the *_left_* of `<-`, and give it the value of the thing on the *_right_*."

> üîé The equal sign ( `=` ) also works for assignment, but it is an `R` convention to use `<-`.

If you ever run a cell containing just a variable, `R` will print the value of that variable:

In [22]:
x

[1] 2

You can also force `R` to print the value of the variable with `print`:

In [23]:
print(x)

[1] 2

‚ùì Why is there a `[1]` next to the output? Don't worry for now, we'll learn soon!

#### 2Ô∏è‚É£ Second step

In the second line of our code, we added `5` to our variable `x`, which we initialized with the value `2`.

`R` will also print the value of simple expressions in their own cell:

In [24]:
x + 5

[1] 7

‚ùó‚ùó**Important note**‚ùó‚ùó: After running the cell above, **the value of `x` is still 2, not 7.**

Unless we use `<-` or `=` to assign a new value to `x`, it will remain at 2:

In [25]:
x

[1] 2

To update the value of a variable, we can use `<-`.

For example, here's how you could increase the value of `x` by `10`:

In [26]:
x <- x + 10
x

[1] 12

`R` first solves `x + 10` to get `12`, and then it overwrites `x` with `12`.

### üìù Vectors

A **vector** is a sequence of things.

For example, we can have a vector of consecutive integers:

In [27]:
5:10

[1]  5  6  7  8  9 10

We can also use `c()` to create vectors.

> üîé The "c" in `c()` stands for **concatenate**.

In [28]:
c(10, 100, 1000)

[1]   10  100 1000

We can assign vectors to variables too:

In [29]:
my_vector <- c(10, 100, 1000)
my_vector

[1]   10  100 1000

We can extract **elements** from vectors using their **index**, or their place in line.

> üîé Unlike most other programming languages, `R` is 1-indexed, not 0-indexed. So, the first element in a vector `v` is `v[1]`, not `v[0]`.

In [30]:
my_vector[1]

[1] 10

In [31]:
my_vector[2]

[1] 100

In [32]:
my_vector[3]

[1] 1000

#### üîé Printing vectors 

If you explicitly `print` a vector, the output looks a little different:

In [33]:
print(my_vector)

[1]   10  100 1000

Why is there a `[1]` on the left of the printed results? 

Printing a longer vector gives us a hint:

In [34]:
print(25:75)

 [1] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[26] 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
[51] 75

The bracketed numbers on the left side of the printed results indicate the index of the element immediately to the right.

For example `[26]` indicates that `50` is the 26th element in the vector.

#### üöÄ Exercise

**A. Create a vector of numbers from 15 to 140, and assign the vector to a variable called `my_vector`.**

In [35]:
# Your code here!

# START
my_vector <- 15:140
print(my_vector)
# END

  [1]  15  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32
 [19]  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50
 [37]  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68
 [55]  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86
 [73]  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104
 [91] 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122
[109] 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140

**B. Find the difference between the 30th and 100th values of `my_vector`.**

In [36]:
# Your code here!

# START
my_vector[100] - my_vector[30]
# END

[1] 70

### ‚è≠Ô∏è Optional extension problem

Find the 57th even number between 1347 and 2124.

In [37]:
# Your code here!

# START
seq(1348, 2124, by=2)[57]
# END

[1] 1460

### üìù Functions

If you've taken algebra, you've already seen functions! For example, this function `f` takes the square root of its input:

> $f(x) = \sqrt{x}$
>
> $f(25) = \sqrt{25} = 5$

<img src="img/function-machine.svg" width=200 align="left"/>

`R` also has a square root function called `sqrt`. 

To use a function in `R`, we write the name of the function, and then put its input in parentheses. 

> üîé The output of a function is called its **return value**.

In [38]:
sqrt(25)

[1] 5

You may have noticed that we used this function notation quite a lot already. 

Here are some of the functions you have already used:
- `sample`: makes random draws from a vector
- `print`: prints its input

üí° There are *many* other built-in functions in `R`, and you can even write your own functions! 

Here are some examples of functions that you can use:
- `sum`: Adds up all of the numbers in a vector
- `mean`: Finds the average of the numbers in a vector
- `length`: Finds the total number of elements in a vector.
- `max`: Finds the maximum value in a vector
- `min`: Finds the minimum value in a vector

### üöÄ Exercise

**A. Find the sum of all the numbers from 1 to 100 using `sum`.**

In [39]:
# Your code here!

# START
sum(1:100)
# END

[1] 5050

**B. Find the average of all the numbers from 1 to 100 using `mean`.**

In [40]:
# Your code here!

# START
mean(1:100)
# END

[1] 50.5

### üìù Multi-argument functions

Functions like `print` only need one input, or **argument**. However, functions can have more than one argument. 

For example, this function `f` adds its two arguments, x and y:

> f(x, y) = x + y
>
> f(2, 3) = 2 + 3 = 5

You've also already used a multi-argument function in `R` called `sample`.

We provided `sample` with three arguments:

1. A vector of numbers to sample from
2. How many numbers to sample
3. Whether or not we can reuse numbers after sampling them

In [82]:
sample(c(1,2,3,4,5), 3, replace=TRUE)

[1] 2 2 3

## üìù Back to the birthday problem: Finding duplicates

The code below defines a new function, `has_duplicate`.

> `has_duplicate` returns `TRUE` if the input vector contains any duplicate values, and `FALSE` otherwise.

In [41]:
has_duplicate <- function(v) {
    any(duplicated(v))
}

Make sure to run the cell above, and then run `has_duplicate` in the cells below.

In [80]:
has_duplicate(c(1,2,2,3,4,5))

[1] TRUE

In [83]:
vector_a <- sample(1:10, 5, replace = FALSE)
vector_a

[1] 4 6 1 9 2

In [84]:
has_duplicate(vector_a)

[1] FALSE

### üöÄ Exercise

**Generate a vector of 60 random birthdays, and determine whether the vector has any duplicates.**

In [86]:
# Your code here!

# START
birthdays = sample(1:366, 60, replace = TRUE)
has_duplicate(birthdays)
# END

[1] TRUE

### üìù Counting pairs

The code below defines another function, `num_pairs`.

`num_pairs` returns the number of pairs that can formed with duplicated values.

> In math speak, you can form $\binom{n}{2}$ pairs from $n$ values.
>
> $\binom{n}{2} = \frac{n!}{2!(n - 2)!}$

For example, the vector `c(1, 2, 3, 3)` has two 3s, so `num_pairs` should return $\binom{2}{2} = 1$. In other words, we can only make one pair of identical numbers.

The vector `c(1, 2, 3, 3, 3, 3)` has four 3s, so `num_pairs` should return $\binom{4}{2} = 6$.

The vector `c(1, 2, 3, 4, 5, 5, 5, 6, 6)` has three 5s and two 6s, so `num_pairs` should return $\binom{3}{2} + \binom{2}{2} = 4$.

In [47]:
# don't worry at all about studying/understanding this specific function!
# But, if you're looking for an extension problem, try to figure out how this function works.
num_pairs <- function(v) {
    duplicated_indices <- duplicated(v)
    duplicated_values <- v[duplicated_indices]
    duplicated_counts <- table(duplicated_values) + 1
    sum(choose(duplicated_counts, 2))
}

In [48]:
num_pairs(c(1, 2, 3, 3))

[1] 1

In [49]:
num_pairs(c(1, 2, 3, 3, 3, 3))

[1] 6

In [50]:
num_pairs(c(1, 2, 3, 4, 5, 5, 5, 6, 6))

[1] 4

### üöÄ Exercise

**Think back to the John Smith example:**

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. From those 141 individuals, we can make 27 pairs with exactly the same birthday.

**Generate a vector of 141 random birthdays, and determine how many duplicate pairs can be formed from elements in the vector.** Run your code repeatedly to see how the results can change due to randomness.

In [51]:
# Your code here!

# START
num_pairs(sample(1:366, 141, replace = TRUE))
# END

[1] 24

### ‚è≠Ô∏è Optional extension Problem

Generate a vector of 141 birthdays occurring over 10 years (so far, we've ignored the year). Calculate the number of pairs that can be formed.

In [87]:
# Your code here!

# START
birthdays = sample(1:(365*10), 141, replace = TRUE)
num_pairs(birthdays)
# END

[1] 4

### üìù  Repetition with `for` loops üîÅ

Recall the third step in our algorithm:

3Ô∏è‚É£ We need to repeat this process over and over.

The `for` loop lets us do exactly this. Here's the syntax for a `for` loop:

```
for (element in vector) { 
    perform an action
}
```

Run the following cell to see a `for` loop in action:

In [53]:
for (i in 1:10) {
    print("Hello, world!")
}

[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"

Uh, hi?

Here's what's going on in the loop üîÅ:

1. `R` will iterate through each number in the vector `1:10`. The first number is `1`. 
2. So, create a variable `i` with the value 1.
> `i <- 1`
3. Do what's in the brackets. So, print `Hello, world!`.
> `print("Hello, world!")`
4. Repeat the steps above for the rest of the vector.

> `i <- 2`

> `print("Hello, world!")`

> `i <- 3`

> `print("Hello, world!")`

> `...` 

> `i <- 10`

> `print("Hello, world!")`

Welcome to the world of automation ü§ñ!

With a `for` loop, we can do more than just print text:

In [89]:
for (i in 1:3) {
    print(sample(1:20, 5, replace = TRUE))
}

[1]  8 11 10 12 17
[1] 18 10 11 10  8
[1]  9 15  3  2  9

We can also use the `i` variable inside of our `for` loop:

In [55]:
for (i in 10:15) {
    print(i)
}

[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15

## üöÄ Exercise

**Using a `for` loop, print 3 vectors with each containing 60 random birthdays.**

In [88]:
# Your code here!

# START
for (i in 1:3) {
    birthdays = sample(1:366, 60, replace = TRUE)
    print(birthdays)
}
# END

 [1]  10 256 295 236 141  93 322 255  85 217  83 155 230  89 222 199 344  24 216
[20]  54  26  75 321  95 333  31  42 279 357  43  13 344  29 237 101 206  66   4
[39]  17  72 132  71  53 250 357 211 227  45 207  63 179  56 181 139 242 267 221
[58]  47 307 347
 [1] 193 190 350 303  25 226 204  72 353  79 366 135 128 270 237  35  82 335  39
[20] 218 296 120 342 179  43 240 166 318 321 212 300 260  73 340 242 248 279 321
[39]  85 285  11 165 157 107 268  22 236 183 169 148  25 131  33 177  75 330  85
[58] 320 216 303
 [1] 352   8 244 328 279 179 108 315 123 111  92 150 318 268  21 321 332 189  94
[20] 356  33  30  28 208  93 320 218 150 288 130 152  37 354 344 334 174 347  98
[39] 357  69  47 219 275 311 329  48 276  10  15 141 269  46 361 289 207 332  36
[58] 187 324 356

## üöÄ Exercise

**Using a `for` loop and a counter, add up all the numbers from 1 to 100.**

To get you started, here's how you could use a counter to count to 5:

In [57]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    print(counter)
}

print("Final value of counter:")
print(counter)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] "Final value of counter:"
[1] 5

In [58]:
# Your code here!

# START
counter <- 0

for (i in 1:100) {
    counter <- counter + i
}

print(counter)

# check our answer
print(sum(1:100))
# END

[1] 5050
[1] 5050

### ‚è≠Ô∏è Optional extension problem

Use a `for` loop to print the first odd number, the sum of the first two odd numbers, the sum of the first three odd numbers, ..., all the way up to the sum of the first 10 odd numbers. 

Do you notice a pattern?

In [59]:
# Your code here!

# START
numbers <- 1:10
for (number in numbers) {
    odd_nums <- seq(1, 2*number, by=2)
    print(sum(odd_nums))
}

# The numbers are all perfect squares!

# END

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36
[1] 49
[1] 64
[1] 81
[1] 100

## üé∂ Interlude: Booleans and control flow

### üìù Control flow with booleans, `if`, and `else`

Booleans are a special type of variable that can take on only two possible values: `TRUE` or `FALSE`.

> üèõÔ∏è *Historical note*: Booleans are named after George Boole, a 19th century mathematician. https://en.wikipedia.org/wiki/George_Boole

Booleans come in handy when you're comparing values.

In [60]:
10 == 10

[1] TRUE

In [61]:
9 == 10

[1] FALSE

‚ùó‚ùóThe double equal sign ( `==` ) is different than the single equal sign ( `=` ).

> While a single equal sign is used to <i>assign</i> values to arguments inside functions, a double equal sign is used to <i>compare</i> values.

In [62]:
# this doesn't make sense! We can't assign the value 10 to the number 9.
# 9 = 10

We can also use greater than ( `>` ) and less than ( `<` ) to compare values:

In [63]:
9 < 10

[1] TRUE

In [64]:
10 > 10

[1] FALSE

In [65]:
# <= means "less than or equal to", and >= means "greater than or equal to"

10 >= 10

[1] TRUE

### Working with `if`

We can use `if` with booleans to control our code. Here's the **syntax**:

```
do everything up here

if (this statement is true) {
    do everything here too
}

finally, do everything down here
```

Here's an example. Practice reading the code line by line to understand each piece:

In [66]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
}

[1] 1
[1] 2
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

### Adding `else` to the mix

`else` means "otherwise". We can use `if` and `else` with each other to write code that follows this pattern:

```
if (this statement is true) {
    do everything here
}
else {
    do everything here instead
}
```

Here's an example. Practice reading the code line by line to understand each piece:

In [67]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
    else {
        print("Counter is less than 3!")
    }
}

[1] 1
[1] "Counter is less than 3!"
[1] 2
[1] "Counter is less than 3!"
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

### üöÄ Exercise

**Write a `for` loop to count off all the numbers from 1 to 10. Print "Bigger than 5!" after each number that is bigger than 5.**

In [68]:
# Your code here!

# START
for (i in 1:10) {
    print(i)
    
    if (i > 5) {
        print("Bigger than 5!")
    }
}
# END

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] "Bigger than 5!"
[1] 7
[1] "Bigger than 5!"
[1] 8
[1] "Bigger than 5!"
[1] 9
[1] "Bigger than 5!"
[1] 10
[1] "Bigger than 5!"

### üöÄ Exercise

**Generate a vector of 20 birthdays, and print the birthdays that fall in the first half of the year.**

In [69]:
# Your code here!

# START
birthdays <- sample(1:366, 20, replace = TRUE)

for (birthday in birthdays) {
    if (birthday < 183) {
        print(birthday)
    }
}
# END

[1] 161
[1] 26
[1] 72
[1] 73
[1] 177
[1] 123
[1] 62
[1] 146
[1] 91

## Back to the birthday problem: Translating our algorithm into code

We're ready to come back to our algorithm:

> 1. We need a room of 60 people, and we need to know their birthdays.
> 2. We need to check whether two people in that room share a birthday.
> 3. We need to repeat this process over and over.
> 4. We need to figure out how frequently two or more people shared a birthday.

### üöÄ Exercise

**Translate our algorithm into code to solve the birthday problem!** üôÄ

How often will at least two people share a birthday in a room of 60 people? Are you surprised with the result?

In [70]:
# Your code here!

# START
# This is the total number of birthday vectors we will generate
# 10000 is arbitrary. we just need something "big enough"
n <- 10000

# This is a counter to keep track of how many vectors had at least 
# one duplicate birthday
n_with_duplicates <- 0

# Each time we see a vector with at least one duplicate, we should
# increment our counter
for (i in 1:n) {
    
    birthdays = sample(1:366, 60, replace = TRUE)
    
    if (has_duplicate(birthdays)) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

# Fraction of vectors with at least one duplicate
n_with_duplicates / n
# END

[1] 0.993

### üöÄ Additional exercises

**A. Decrease the number of birthdays we generate in each birthday vector, and re-run the code several times. What happens to the fraction of vectors with duplicates?**

In [90]:
# Your code here!

# START
n <- 10000

n_with_duplicates <- 0

for (i in 1:n) {
    
    birthdays = sample(1:366, 10, replace = TRUE)
    
    if (has_duplicate(birthdays)) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

n_with_duplicates / n

# The chance of a match goes down! 

# END

[1] 0.1183

**B. Decrease the number of birthday vectors, and re-run the code several times. What happens to the results?**

In [92]:
# Your code here!

# START
n <- 100

n_with_duplicates <- 0

for (i in 1:n) {
    
    birthdays = sample(1:366, 60, replace = TRUE)
    
    if (has_duplicate(birthdays)) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

n_with_duplicates / n

# The precision of our estimate gets worse! 

# END

[1] 0.99

**C. Increase the number of birthday vectors to something really big, and re-run the code several times. What happens to the results?**

In [93]:
# Your code here!

# START
n <- 100000

n_with_duplicates <- 0

for (i in 1:n) {
    
    birthdays = sample(1:366, 60, replace = TRUE)
    
    if (has_duplicate(birthdays)) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

n_with_duplicates / n

# The precision of our estimate goes up, but the code runs slower!

# END

[1] 0.99364

**D. How many birthdays should be in each vector for an approximately 50% chance of a match?**

In [95]:
# Your code here!

# START
n <- 1000

n_with_duplicates <- 0

for (i in 1:n) {
    
    birthdays = sample(1:366, 23, replace = TRUE)
    
    if (has_duplicate(birthdays)) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

n_with_duplicates / n

# This takes some trial and error, but the closest we can get to 
# 50% is with 23 birthdays per vector.

# In a classroom of just 23 students, there is a ~50% chance of
# a matched birthday!

# END

[1] 0.481

## Circling back to double voting

Remember our original problem:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 pairs had exactly the same birthday.

## üöÄ Exercise

**Modify the simulation code to calculate the average number of birthday duplicates in 1,000 vectors of 141 individuals.**

How does your answer compare to the 27 birthday pairs we found in the real data?

In [96]:
# Your code here!

# START
n <- 1000

n_pairs <- 0

for (i in 1:n) {
    
    birthdays = sample(1:366, 141, replace = TRUE)
        
    n_pairs <- n_pairs + num_pairs(birthdays)
    
}

# Spooky! It's actually really close to 27. By chance, we'd expect
# to see 27 pairs on average. Keep in mind, though, we're not guaranteed to
# see 27 pairs for every 141 birthdays. We just got lucky.

n_pairs / n
# END

[1] 26.586

### üìù Extension topic: Vectorized functions

Often, we'll want to apply the same function to every element in a vector. Rather than use a `for` loop, it is more efficient to use a vectorized function, such as `replicate` or `map`. 

> üîé Vectorization leverages parallel processing, which allows your computer to tackle multiple computations at the same time.

Here's how `replicate` works:

> `replicate(number of times to perform an action, the action)`

### ‚è≠Ô∏è Optional extension problem

**Use `replicate` to generate 3 vectors of 10 random birthdays.**

In [97]:
# Your code here!

# START
birthdays = sample(1:366, 10, replace = TRUE)
replicate(3, birthdays)
# END

      [,1] [,2] [,3]
 [1,]  95   95   95
 [2,] 251  251  251
 [3,] 347  347  347
 [4,] 169  169  169
 [5,]  64   64   64
 [6,] 147  147  147
 [7,] 105  105  105
 [8,] 131  131  131
 [9,] 274  274  274
[10,] 347  347  347

### ‚è≠Ô∏è Optional extension problem

`map` is a function from the `purrr` package that is more powerful than `replicate`. You can read more about `map` [at this link](https://purrr.tidyverse.org/reference/map.html), or run `?purrr::map`.

> üîé `purrr` is part of the `tidyverse`, a set of popular `R` packages used for data analysis. We will learn more about the `tidyverse` in a later tutorial. 

Use `purrr::map` to generate 3 vectors of 10 random birthdays.

> üîé The double colon (`::`) notation means use the `map` function from the `purrr` library. We could also run `library(purrr)` to load in all the functions from `purrr` to avoid using `purrr::` before `map`.

In [110]:
# Your code here!

# START
purrr::map(1:3, ~ sample(1:366, 10, replace = TRUE))

# Even better:
generate_n_birthdays = function(n) {
    sample(1:366, n, replace = TRUE)
}

purrr::map(1:3, ~ generate_n_birthdays(10))
# END

[[1]]
 [1]  34  69 199  60 176 342 100 317 223  98

[[2]]
 [1]  77 345  83 282 213 233  35 304  18  59

[[3]]
 [1] 333 172 323 346 326 233  82  49  74  41

[[1]]
 [1]  18  84 363 121  32 325 311  30 185 188

[[2]]
 [1] 262 335 365 218 313 359 300 114 261 100

[[3]]
 [1] 312 203 200  45 304 360 323 233  52 354

### ‚è≠Ô∏è Optional extension problem

Solve the birthday problem without using a `for` loop.

How many birthday pairs would you expect from 141 individuals born in the same year?

In [111]:
# Your code here!

# START
n_sims = 1000
sim_counts = purrr::map_dbl(1:n_sims, ~ num_pairs(generate_n_birthdays(141)))
print(mean(sim_counts))
# END

[1] 26.925