# üó≥Ô∏è Double voting and üéÇ the birthday problem with `R`

<img src="img/voting.jpg" alt="voting" width="400" align="left"/>

## Introduction

Claims of voter fraud are widespread. Here's one example:

> **‚ÄúProbably over a million people voted twice 
in [the 2012 presidential] election.‚Äù**
>
> Dick Morris, in 2014 on Fox News

Voter fraud can take place in a number of ways, including tampering with voting machines üì†, destroying ballots üó≥Ô∏è, and impersonating voters ü§ñ. Today, though, we will explore 
**double voting**, which occurs when a single person illegally casts more than one vote in an election.

To start, consider this fact:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 of those individuals had exactly the same birthday.

Were there 27 fraudulent "John Smith" ballots in the 2012 election? Let's find out.

## üéÇ The birthday problem üéÇ

<img src="img/birthday.jpg" alt="voting" width="200" align="left"/>

üöÄ Let's start with a similar problem: 

> In a room of 60 people, how likely is it that two people share exactly the same birthday? 
>
> Assume that every person in the room was born in the same year.

Before moving forward, think to yourself what could be a reasonable answer. 10\%? 50\%? 90\%? Something else?

üñ•Ô∏è To formally answer this question, we could use the following **algorithm**:

 > 1Ô∏è‚É£ We need a room of 60 people, and we need to know their birthdays.
 
 > 2Ô∏è‚É£ We need to check whether two people in that room share a birthday.
 
 > 3Ô∏è‚É£ We need to repeat steps 1 and 2 over and over.
 
 > 4Ô∏è‚É£ We need to figure out how often two or more people shared a birthday.

At the end of this tutorial, you'll be able to implement this algorithm in `R`!

## üìù The `sample` command

Here's the first step of our algorithm:

> 1Ô∏è‚É£ We need a room of 60 people, and we need to know their birthdays.

To simulate this in `R`, we could use the `sample` command, which works as follows:

> `sample(numbers to choose from, how many numbers to choose, whether to "put back" numbers)`

In [1]:
# To run code in a cell, click on the cell, and then 
# you can either press SHIFT + ENTER, 
# or press the triangular play button at the top of this page.
#
# Note: the colon symbol a:b allows us to create lists of consecutive 
# integers from a to b.

sample(1:10, 5, replace = FALSE)

[1]  8  2  5  1 10

In [2]:
sample(1:3, 5, replace = TRUE)

[1] 3 3 1 1 2

In [3]:
sample(1:20, 3, replace = TRUE)

[1] 10  5  9

In [4]:
# Why does this fail?
sample(1:5, 6, replace = FALSE)

ERROR: Error in sample.int(length(x), size, replace, prob): cannot take a sample larger than the population when 'replace = FALSE'

### üöÄ Exercise

**Using `sample`, simulate a list of 60 birthdays.**

In [5]:
# Your code goes here!

# START
sample(1:366, 60, replace = TRUE)
# END

 [1] 212  88 340 198  69  21 140 259 199 353 220 320 194 291 145  62  84  24 145
[20]   7 222 149 219  72 221  42 250 351 244 238 272 245  98 202 211 161  45  92
[39] 100 325 303  55  91 175 189 192 235 139  66 134 239 317 120  88 251 357  52
[58] 303 290 269

### ‚è≠Ô∏è Optional Extension Problem

To learn more about an `R` function, run `?<function_name>`. For example, run `?sample` to print the documentation for the `sample` command.

> The output is long, so feel free to delete the cell or hide the output after skimming.

In [ ]:
?sample

`seq` is a more powerful way of generating sequences. Read the documentation for `seq` to learn how `seq` works. Then, use `seq` to generate a list of all even numbers between 100 and 110.

In [6]:
# Your code here!

# START
seq(100, 110, by=2)
# END

[1] 100 102 104 106 108 110

## üé∂ Interlude: Math, variables, vectors, and functions

### üìù Using R as a calculator

One simple (and useful) way to use R is as a calculator. For example:

In [10]:
5 + 10

[1] 15

In [11]:
30 * 3

[1] 90

In [12]:
25 / 5

[1] 5

In [13]:
3 ^ 2

[1] 9

In [14]:
(2 + 3) * 5

[1] 25

#### üöÄ Exercise

Use R to find the average of 42, 100, and 280.

In [15]:
# Your code here!

# START
(42+100+280)/3
# END

[1] 140.6667

### üìù  Variables

**Variables** are like boxes üì¶: they store things for us, and we can label them so we know what's inside.

Consider the following example:

> If x = 2, what is x + 5?

You guessed it: the answer is 7. Let's express the same problem using `R`:

In [16]:
# If x = 2, ...
x <- 2

# ... what is x + 5?
x + 5

[1] 7

Let's break down the code in the cell above.

#### 1Ô∏è‚É£ First step

In the first line of our code, we assigned the value `2` to the variable named `x` using `<-`.

In [17]:
# If x = 2, ...
x <- 2

The assignment operator (`<-`) tells R "Take the variable on the *_left_* of the equal sign, and give it the value of the thing on the *_right_*."

> üîé The equal sign ( `=` ) also works for assignment, but it is an `R` convention to use `<-`.

If you ever run a cell containing just a variable, `R` will print the value of that variable:

In [18]:
x

[1] 2

You can also force R to print the value of the variable with `print`:

In [19]:
print(x)

[1] 2

‚ùì Why is there a `[1]` next to the output? Don't worry for now, we'll learn soon!

#### 2Ô∏è‚É£ Second step

In the second line of our code, we added `5` to our variable `x`, which we initialized with the value `2`.

`R` will also print the value of simple expressions in their own cell:

In [57]:
x + 5

[1] 7

‚ùó‚ùó**Important note**‚ùó‚ùó: After running the cell above, **the value of `x` is still 2, not 7.**

Unless we use `<-` or `=` to assign a new value to `x`, it will remain at 2:

In [59]:
x

[1] 2

To update the value of a variable, we can use `<-`.

For example, here's how you could increase the value of `x` by `10`:

In [57]:
x <- x + 10
x

[1] 12

`R` first solves `x + 10` to get `12`, and then it overwrites `x` with `12`.

### üìù Vectors

A **vector** is a sequence of things.

For example, we can have a vector of consecutive integers:

In [64]:
5:10

[1]  5  6  7  8  9 10

We can also use `c()` to create vectors.

> üîé The "c" in `c()` stands for **concatenate**.

In [66]:
c(10, 100, 1000)

[1]   10  100 1000

We can assign vectors to variables too:

In [21]:
my_vector <- c(10, 100, 1000)
my_vector

[1]   10  100 1000

We can extract **elements** from vectors using their **index**, or their place in line.

> üîé Unlike most other programming languages, `R` is 1-indexed, not 0-indexed. So, the first element in a vector `v` is `v[1]`, not `v[0]`.

In [22]:
my_vector[2]

[1] 100

#### üîé Printing vectors 

If you explicitly `print` a vector, the output looks a little different:

In [23]:
print(my_vector)

[1]   10  100 1000

Why is there a `[1]` on the left of the printed results? 

Printing a longer vector gives us a hint:

In [24]:
print(25:75)

 [1] 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
[26] 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74
[51] 75

The bracketed numbers on the left side of the printed results indicate the index of the element immediately to the right.

For example `[26]` indicates that `50` is the 20th element in the vector.

#### üöÄ Exercise

**A. Create a vector of numbers from 15 to 140, and assign the vector to a variable called `my_vector`.**

In [25]:
# Your code here!

# START
my_vector <- 15:140
# END

**B. Find the difference between the 30th and 100th values of `my_vector`.**

In [26]:
# Your code here!

# START
my_vector[100] - my_vector[30]
# END

[1] 70

### ‚è≠Ô∏è Optional extension problem

Find the 57th even number between 1347 and 2124.

In [27]:
# Your code here!

# START
seq(1348, 2124, by=2)[57]
# END

[1] 1460

### üìù Functions

If you've taken algebra, you've already seen functions! For example, this function `f` takes the square root of its input:

> $f(x) = \sqrt{x}$
>
> $f(25) = \sqrt{25} = 5$

<img src="img/function-machine.svg" width=200 align="left"/>

R also has a square root function called `sqrt`. 

To use a function in R, we write the name of the function, and then put its input in parentheses. 

> üîé The output of a function is called its **return value**.

In [28]:
sqrt(25)

[1] 5

You may have noticed that we used this function notation quite a lot already. 

Here are some of the functions you have already used:
- `sample`: makes random draws from a vector
- `print`: prints its input

üí° There are *many* other functions in R, and you can even write your own functions! 

Here are some examples of functions that you can use:
- `sum`: Adds up all of the numbers in a vector
- `mean`: Finds the average of the numbers in a vector
- `length`: Finds the total number of elements in a vector.
- `max`: Finds the maximum value in a vector
- `min`: Finds the minimum value in a vector

### üöÄ Exercise

**A. Find the sum of all the numbers from 1 to 100 using `sum`.**

In [71]:
# Your code here!

# START
sum(1:100)
# END

[1] 5050

**B. Find the average of all the numbers from 1 to 100 using `mean`.**

In [29]:
# Your code here!

# START
mean(1:100)
# END

[1] 50.5

### üìù Multi-argument functions

Functions like `print` only need one input, or **argument**. However, functions can have more than one argument. 

For example, this function `f` adds its two arguments, x and y:

> f(x, y) = x + y
>
> f(2, 3) = 2 + 3 = 5

You've also already used a multi-argument function in R: `sample`

`sample` takes three arguments:

1. A vector of numbers to sample from
2. How many numbers to sample
3. Whether or not we can reuse numbers after sampling them

In [73]:
sample(1:10, 5, replace = TRUE)

[1] 3 1 2 3 5

## üìù Back to the birthday problem: Finding duplicates

The code below defines a new function, `has_duplicate`.

> `has_duplicate` returns `TRUE` if a vector contains any duplicate values, and FALSE otherwise.

In [30]:
has_duplicate <- function(v) {
    any(duplicated(v))
}

Make sure to run the cell above, and then run `has_duplicate` in the cells below.

In [31]:
vector_a <- sample(1:3, 5, replace = TRUE)
vector_a

[1] 1 1 2 1 2

In [32]:
has_duplicate(vector_a)

[1] TRUE

In [33]:
vector_b <- sample(1:10, 5, replace = FALSE)
vector_b

[1]  7 10  3  9  5

In [34]:
has_duplicate(vector_b)

[1] FALSE

### üöÄ Exercise

**Generate a vector of 60 random birthdays, and determine whether the vector has any duplicates.**

In [35]:
# Your code here!

# START
has_duplicate(sample(1:366, 60, replace = TRUE))
# END

[1] TRUE

### üìù Counting pairs

The code below defines another function, `num_pairs`.

`num_pairs` returns the number of pairs that can formed with duplicated values.

> In math speak, you can form $\binom{n}{2}$ pairs from $n$ values.
>
> $\binom{n}{2} = \frac{n!}{2!(n - 2)!}$

For example, the vector `c(1, 2, 3, 3)` has two 3s, so `num_pairs` should return $\binom{2}{2} = 1$. In other words, we can only make one pair of identical numbers.

The vector `c(1, 2, 3, 3, 3, 3)` has four 3s, so `num_pairs` should return $\binom{4}{2} = 6$.

The vector `c(1, 2, 3, 4, 5, 5, 5, 6, 6)` has three 5s and two 6s, so `num_pairs` should return $\binom{3}{2} + \binom{2}{2} = 4$.

In [38]:
# don't worry at all about studying/understanding this specific function!
# But, if you're looking for an extension problem, try to figure out how this function works.
num_pairs <- function(v) {
    duplicated_indices <- duplicated(v)
    duplicated_values <- v[duplicated_indices]
    duplicated_counts <- table(duplicated_values) + 1
    sum(choose(duplicated_counts, 2))
}

In [39]:
num_pairs(c(1, 2, 3, 3))

[1] 1

In [40]:
num_pairs(c(1, 2, 3, 3, 3, 3))

[1] 6

In [41]:
num_pairs(c(1, 2, 3, 4, 5, 5, 5, 6, 6))

[1] 4

### üöÄ Exercise

**Think back to the John Smith example:**

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. From those 141 individuals, we can make 27 pairs with exactly the same birthday.

**Generate a vector of 141 random birthdays, and determine how many duplicate pairs can be formed from elements in the vector.** Run your code repeatedly to see how the results can change due to randomness.

In [42]:
# Your code here!

# START
num_pairs(sample(1:366, 141, replace = TRUE))
# END

[1] 29

### ‚è≠Ô∏è Optional extension Problem

Generate a vector of 141 birthdays occurring over 10 years (so far, we've ignored the year). Calculate the number of pairs that can be formed.

In [46]:
# Your code here!

# START
num_pairs(sample(1:(365*10), 141, replace = TRUE))
# END

[1] 1

### üìù  Repetition with `for` loops üîÅ

Recall the third step in our algorithm:

3Ô∏è‚É£ We need to repeat this process over and over.

The `for` loop lets us do exactly this. Here's the syntax for a `for` loop:

```
for (element in vector) { 
    perform an action
}
```

Run the following cell to see a `for` loop in action:

In [61]:
for (i in 1:10) {
    print("Hello, world!")
}

[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"

Uh, hi?

Here's what's going on in the loop üîÅ:

1. `R` will iterate through each number in the vector `1:10`. The first number is `1`. 
2. So, create a variable `i` with the value 1.
> `i <- 1`
3. Do what's in the brackets. So, print `Hello, world!`.
> `print("Hello, world!")`
4. Repeat the steps above for the rest of the vector.
> `i <- 2`; `print("Hello, world!")`; `i <- 3`; `print("Hello, world!")`; `...` ; `i <- 10`; `print("Hello, world!")`

Welcome to the world of automation ü§ñ!

With a `for` loop, we can do more than just print:

In [62]:
for (i in 1:3) {
    print(sample(1:20, 5, replace = TRUE))
}

[1] 10  9 10  9 11
[1]  3  8 20  3  6
[1]  7 12  8  9 20

We can also use the `i` variable inside of our `for` loop:

In [63]:
for (i in 10:15) {
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

## üöÄ Exercise

**Using a `for` loop, print 3 vectors with each containing 60 random birthdays.**

In [49]:
# Your code here!

# START
for (i in 1:3) {
    print(sample(1:366, 60, replace = TRUE))
}
# END

 [1] 347  97 336 168 313   7 291 167 364  33 224 294 124 177 234 352 314 173 138
[20] 237 354 236 225 154 184 170 276 249 281 163  51 290  73 339  53 160  81 209
[39] 154 339 357  95  54  70 282  63  56 108 296   2 341 142 327 207 145 347  73
[58] 133 351  93
 [1] 199  98 165  39 293 273 102 324  38 252  32  84 290  43 181   2 282  95 111
[20]  65 112   5 214 307  35  32 131 274 165 171 155 252 332 222 141 210 224 199
[39]  97 271  39  19  29 261  61 346 297 203 249 177   9  24 302 234 106  75 115
[58]  55  59  86
 [1] 194 356 157 214 344 176 252 272  66  17 362 172 140  74  12 326 249 281 216
[20]  46 232  78 129 321 250 178  84 268 176 234 126 338 258 240 187 205 100 251
[39]  97 212  87 244 232  40 357  86 137 102  28  42 232   3 208 219 173 111 287
[58] 277   2 138

## üöÄ Exercise

**Using a `for` loop and a counter, add up all the numbers from 1 to 100.**

To get you started, here's how you could use a counter to count to 5:

In [19]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    print(counter)
}

print("Final value of counter:")
print(counter)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] "Final value of counter:"
[1] 5

In [52]:
# Your code here!

# START
counter <- 0

for (i in 1:100) {
    counter <- counter + i
}

print(counter)

# check our answer
print(sum(1:100))
# END

[1] 5050
[1] 5050

### ‚è≠Ô∏è Optional extension problem

Use a `for` loop to print the first odd number, the sum of the first two odd numbers, the sum of the first three odd numbers, ..., all the way up to the sum of the first 10 odd numbers. 

Do you notice a pattern?

In [53]:
# Your code here!

# Note: sum(1:5) = 1 + 2 + 3 + 4 + 5

# START
numbers <- 1:10
for (number in numbers) {
    odd_nums <- seq(1, 2*number, by=2)
    print(sum(odd_nums))
}

# The numbers are all perfect squares!

# END

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36
[1] 49
[1] 64
[1] 81
[1] 100

## üé∂ Interlude: Booleans and control flow

### üìù Control flow with booleans, `if`, and `else`

Booleans are a special type of variable that can take on only two possible values: `TRUE` or `FALSE`.

> üèõÔ∏è *Historical note*: Booleans are named after George Boole, a 19th century mathematician. https://en.wikipedia.org/wiki/George_Boole

Booleans come in handy when you're comparing values.

In [55]:
10 == 10

[1] TRUE

In [56]:
9 == 10

[1] FALSE

‚ùó‚ùóThe double equal sign ( `==` ) is different than the single equal sign ( `=` ).

> While a single equal sign is used to <i>assign</i> values to arguments inside functions, a double equal sign is used to <i>compare</i> values.

In [60]:
# this doesn't make sense! We can't assign the value 10 to the number 9.
9 = 10

ERROR: Error in 9 = 10: invalid (do_set) left-hand side to assignment

We can also use greater than ( `>` ) and less than ( `<` ) to compare values:

In [61]:
9 < 10

[1] TRUE

In [62]:
10 > 10

[1] FALSE

In [63]:
# <= means "less than or equal to", and >= means "greater than or equal to"

10 >= 10

[1] TRUE

### Working with `if`

We can use `if` with booleans to control our code. Here's the **syntax**:

```
if (this statement is true) {
    do this thing
}
```

In [64]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
}

[1] 1
[1] 2
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

### Adding `else` to the mix

`else` means "otherwise". We can use `if` and `else` with each other to write code that follows this pattern:

```
if (this statement is true) {
    do this thing
}
else {
    do this other thing
}
```

Here's an example. Practice reading the code line by line to understand each piece:

In [65]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
    else {
        print("Counter is less than 3!")
    }
}

[1] 1
[1] "Counter is less than 3!"
[1] 2
[1] "Counter is less than 3!"
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

### üöÄ Exercise

**Write a `for` loop to count off all the numbers from 1 to 10. Print "Bigger than 5!" after each number that is bigger than 5.**

In [81]:
# Your code here!

# START
for (i in 1:10) {
    print(i)
    
    if (i > 5) {
        print("Bigger than 5!")
    }
}
# END

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] "Bigger than 5!"
[1] 7
[1] "Bigger than 5!"
[1] 8
[1] "Bigger than 5!"
[1] 9
[1] "Bigger than 5!"
[1] 10
[1] "Bigger than 5!"

### üöÄ Exercise

**Generate a vector of 20 birthdays, and print the birthdays that fall in the first half of the year.**

In [68]:
# Your code here!

# START
birthdays <- sample(1:366, 20, replace = TRUE)

for (birthday in birthdays) {
    if (birthday < 183) {
        print(birthday)
    }
}
# END

[1] 25
[1] 103
[1] 156
[1] 119
[1] 164
[1] 13
[1] 40
[1] 124
[1] 166
[1] 169
[1] 6
[1] 180
[1] 169

## Back to the birthday problem: Translating our algorithm into code

We're ready to come back to our algorithm:

> 1. We need a room of 60 people, and we need to know their birthdays.
> 2. We need to check whether two people in that room share a birthday.
> 3. We need to repeat this process over and over.
> 4. We need to figure out how frequently two or more people shared a birthday.

### üöÄ Exercise

**Translate our algorithm into code to solve the birthday problem!** üôÄ

How often will at least two people share a birthday in a room of 60 people? Are you surprised with the result?

In [70]:
# Your code here!

# START
# This is the total number of birthday vectors we will generate
n <- 1000

# This is a counter to keep track of how many vectors had at least one duplicate birthday
n_with_duplicates <- 0

# Each time we see a vector with at least one duplicate, we should increment our counter
for (i in 1:n) {
    
    if (has_duplicate(sample(1:366, 60, replace = TRUE))) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

# Fraction of vectors with at least one duplicate
n_with_duplicates / n
# END

[1] 0.994

### üöÄ Additional exercises

**A. Decrease the number of birthdays we generate in each birthday vector, and re-run the code several times. What happens to the fraction of vectors with duplicates?**

In [71]:
# Your code here!

**B. Decrease the number of birthday vectors to 100, and re-run the code several times. What happens to the results?**

In [ ]:
# Your code here!

**C. Increase the number of birthday vectors to 100,000, and re-run the code several times. What happens to the results?**

In [ ]:
# Your code here!

**D. How many birthdays should be in each vector for an approximately 50% chance of a match?**

In [ ]:
# Your code here!

## Circling back to double voting

Remember our original problem:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 pairs had exactly the same birthday.

## üöÄ Exercise

**Modify the simulation code to calculate the average number of birthday duplicates in 1,000 vectors of 141 individuals.**

How does your answer compare to the 27 birthday pairs we found in the real data?

In [74]:
# Your code here!

# START
n <- 1000

n_pairs <- 0

for (i in 1:n) {
    
    n_pairs <- n_pairs + num_pairs(sample(1:366, 141, replace = TRUE))
    
}

n_pairs / n
# END

[1] 27.007

### üìù Extension topic: Vectorized functions

Often, we'll want to apply the same function to every element in a vector. Rather than use a `for` loop, it is more efficient to use a vectorized function, such as `replicate` or `map`. 

> üîé Vectorization leverages parallel processing, which allows your computer to tackle multiple computations at the same time.

Here's how `replicate` works:

> `replicate(number of times to perform an action, the action)`

### ‚è≠Ô∏è Optional extension problem

**Use `replicate` to generate 3 vectors of 10 random birthdays.**

In [74]:
# Your code here!

# START
replicate(3, sample(1:366, 10, replace = TRUE))
# END

      [,1] [,2] [,3] [,4] [,5]
 [1,] 226  135  158  333   70
 [2,] 110   44  203  135  271
 [3,] 112  157  173  175   85
 [4,]  81  175  346    4  162
 [5,]  27  170  200  245   71
 [6,] 291  201  251  140  183
 [7,]   5  126   55  161  333
 [8,]  54  314  111  355  149
 [9,] 113   62  234    8  112
[10,] 152  344   35   81   15

### ‚è≠Ô∏è Optional extension problem

`map` is a function from the `purrr` package that is more powerful than `replicate`. You can read more about `map` [at this link](https://purrr.tidyverse.org/reference/map.html).

> `purrr` is part of the `tidyverse`, a set of popular `R` packages used for data analysis. We will learn more about the `tidyverse` in a later tutorial. 

Use `purrr::map` to generate 3 vectors of 10 random birthdays.

In [84]:
# Your code here!

# START
purrr::map(1:3, ~ sample(1:366, 10, replace = TRUE))
# END

[[1]]
 [1] 282  31 228 360 136 277  74 144  28  85

[[2]]
 [1]   9 193 120  42  64 334 112 311  15 162

[[3]]
 [1] 282  55 220 111  81 222 123 264 244 242

### ‚è≠Ô∏è Optional extension problem

Solve the birthday problem without using a `for` loop.

How many birthday pairs would you expect to form with 141 individuals?

In [85]:
# START
n_sims = 1000
sim_counts = purrr::map_dbl(1:n_sims, ~ num_pairs(sample(1:366, 141, replace = TRUE)))
print(mean(sim_counts))
# END

[1] 26.724