# Double voting and the birthday problem

<img src="img/voting.jpg" alt="voting" width="400" align="left"/>

## Introduction

Claims of voter fraud are widespread. Here's one example:

> **“Probably over a million people voted twice 
in [the 2012 presidential] election.”**
>
> Dick Morris, in 2014 on Fox News

Voter fraud can take place in a number of ways, including tampering with voting machines 📠, destroying ballots 🗳️, and impersonating voters 🤖. Today, though, we're going to explore 
**double voting**, which occurs when a single person illegally casts more than one vote in an election.

To start, consider this fact:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 of those individuals had exactly the same birthday.

Were there 27 fraudulent "John Smith" ballots in the 2012 election? Let's find out.

## The birthday problem

<img src="img/birthday.jpg" alt="voting" width="200" align="left"/>

🚀 Let's start by solving a similar problem: 

> In a room of 60 people, how likely is it that two people share exactly the same birthday? 
>
> You can assume that every person in the room was born in the same year.

🖥️ To answer this question, we could use the following **algorithm**:
 > 1. We need a room of 60 people, and we need to know their birthdays.
 > 2. We need to check whether two people in that room share a birthday.
 > 3. We need to repeat steps 1 and 2 over and over.
 > 4. We need to figure out how often two or more people shared a birthday.

## 📝 The `sample` command

Here's the first step of our algorithm:

> We need a room of 60 people, and we need to know their birthdays.

To do this in `R`, we could use the `sample` command, which works as follows:

> `sample(numbers to choose from, how many numbers to choose, whether to "put back" numbers)`

In [1]:
# To run code in a cell, click on the cell, and then 
# you can either press SHIFT + ENTER, 
# or press the triangular play button at the top of this page.
#
# Note: the colon symbol a:b allows us to create lists of consecutive 
# integers from a to b.

sample(1:10, 5, replace = FALSE)

[1] 4 6 9 2 8

In [2]:
sample(1:3, 5, replace = TRUE)

[1] 2 2 1 1 2

In [3]:
sample(1:20, 3, replace = TRUE)

[1]  3 14 14

In [5]:
# Why does this fail?
sample(1:5, 6, replace = FALSE)

ERROR: Error in sample.int(length(x), size, replace, prob): cannot take a sample larger than the population when 'replace = FALSE'

### 🚀 Exercise

**Using `sample`, simulate a list of 60 birthdays.**

In [7]:
# Your code goes here!

# START
sample(1:366, 60, replace = TRUE)
# END

 [1]  96 312 290 339 343 100 118 348 273 358 210   7  98 365  79 353   6   4  82
[20] 260 309 346 101 159 160 307  54 128  99 195 332 323 325  71  70 273 138 158
[39]  80 327 352  73 272 165 309 357 307 107 273 166  10 300 173 355 257 345  32
[58] 206 233 173

### ⏭️ Optional Extension Problem

To learn more about an `R` function, run `?<function_name>`. For example, run `?sample` to print the documentation for the `sample` command.

`seq` is a more powerful way of generating sequences. Read the documentation for `seq` to learn how `seq` works. Then, use `seq` to generate a list of all even numbers between 100 and 110.

In [34]:
# Your code here!

# START
seq(100, 109, by=2)
# END

[1] 100 102 104 106 108

## 🎶 Interlude: Math, variables, vectors, and functions

### 📝 Using R as a calculator

One simple (and useful) way to use R is as a calculator. For example:

In [6]:
5 + 10

[1] 15

In [27]:
30 * 3

[1] 90

In [29]:
25 / 5

[1] 5

In [30]:
3 ^ 2

[1] 9

In [1]:
(2 + 3) * 5

[1] 25

#### 🚀 Exercise

Use R to find the average of 42, 100, and 280.

In [7]:
# Your code here!

# START
(42+100+280)/3
# END

[1] 140.6667

### 📝  Variables

**Variables** are like boxes 📦: they store things for us, and we can label them so we know what's inside.

Consider the following example:

> If x = 2, what is x + 5?

You guessed it: the answer is 7. Let's express the same problem using `R`:

In [31]:
# If x = 2, ...
x <- 2

# ... what is x + 5?
x + 5

[1] 7

#### 1️⃣ First step

In the first line of our code, we assigned the value `2` to the variable named `x` using `<-`.

The assignment operator (`<-`) tells R "Take the variable on the *_left_* of the equal sign, and give it the value of the thing on the *_right_*."

> 🔎 The equal sign ( `=` ) also works for assignment, but it is an `R` convention to use `<-`.

If you ever run a cell containing just a variable, R will print the value of that variable:

In [32]:
x

[1] 2

You can also force R to print the value of the variable with `print`:

In [ ]:
print(x)

❓ Why is there a `[1]` next to the output? Don't worry for now, we'll learn soon!

#### 2️⃣ Second step

In the second line of our code, we added `5` to our variable `x`, which we initialized with the value `2`.

R will also print the value of simple expressions:

In [57]:
x + 5

[1] 7

❗❗**Important note**❗❗: After running the cell above, the value of x is still 2, not 7. 

Unless we use `<-` or `=` to assign a new value to `x`, it will always be 2:

In [59]:
x

[1] 2

To update the value of a variable, we can use `<-`.

For example, here's how you could increase the value of `x` by `10`:

In [57]:
x <- x + 10
x

[1] 12

`R` first solves `x + 10` to get `12`, then it overwrites `x` with `12`.

### 📝 Vectors

A **vector** is a sequence of things.

For example, we can have a vector of consecutive integers:

In [64]:
5:10

[1]  5  6  7  8  9 10

We can also use `c()` to create vectors.

> 🔎 The "c" in `c()` stands for **concatenate**.

In [66]:
c(10, 100, 1000)

[1]   10  100 1000

We can assign vectors to variables too:

In [14]:
my_vector <- c(10, 100, 1000)
my_vector

[1]   10  100 1000

We can extract **elements** from vectors using their **index**, or their place in line.

> 🔎 Unlike most other programming languages, `R` is 1-indexed, not 0-indexed. So, the first element in a vector `v` is `v[1]`, not `v[0]`.

In [4]:
my_vector[2]

[1] 100

#### 🔎 Printing vectors 

If you explicitly `print` a vector, the output looks a little different:

In [ ]:
print(my_vector)

Why is there a `[1]` on the left of the printed results? 

Printing a longer vector gives us a hint:

In [ ]:
print(25:75)

The bracketed numbers on the left side of the printed results indicate the index of the element immediately to the right.

For example `[26]` indicates that `50` is the 20th element in the vector.

#### 🚀 Exercise

**A. Create a vector of numbers from 15 to 140, and assign the vector to a variable called `my_vector`.**

In [10]:
# Your code here!

# START
my_vector <- 15:140
# END

**B. Find the difference between the 30th and 100th values of `my_vector`.**

In [9]:
# Your code here!

# START
my_vector[100] - my_vector[30]
# END

[1] 70

### ⏭️ Optional extension problem

Find the 57th even number between 1347 and 2124.

In [56]:
# Your code here!

# START
seq(1348, 2124, by=2)[57]
# END

[1] 1460

### 📝 Functions

If you've taken algebra, you've already seen functions! For example, this function f takes the square root of its input:

> $f(x) = \sqrt{x}$
>
> $f(25) = \sqrt{25} = 5$

<img src="img/function-machine.svg" width=200 align="left"/>

R also has a square root function called `sqrt`. 

To use a function in R, we write the name of the function, and then put its input in parentheses. 

> 🔎 The output of a function is called its **return value**.

In [70]:
sqrt(25)

[1] 5

You may have noticed that we used this function notation quite a lot already. Here are some of the functions you have already used:
- `sample`: makes random draws from a vector
- `print`: prints its input

There are *many* other functions in R, and you can even write your own functions! Here are some examples of functions that you can use:
- `sum`: Adds up all of the numbers in a vector
- `mean`: Finds the average of the numbers in a vector
- `length`: Finds the total number of elements in a vector.
- `max`: Finds the maximum value in a vector
- `min`: Finds the minimum value in a vector

### 🚀 Exercise

**A. Find the sum of all the numbers from 1 to 100 using `sum`.**

In [71]:
# Your code here!

# START
sum(1:100)
# END

[1] 5050

**B. Find the average of all the numbers from 1 to 100 using `mean`.**

In [72]:
# Your code here!

# START
mean(1:100)
# END

[1] 50.5

### 📝 Multi-argument functions

Functions like `print` only need one input, or **argument**. However, functions can have more than one argument. For example, this function `f` adds its two arguments, x and y:

> f(x, y) = x + y
>
> f(2, 3) = 2 + 3 = 5

You've also already used a multi-argument function in R: `sample`

`sample` takes three arguments:

1. A vector of numbers to sample from
2. How many numbers to sample
3. Whether or not we can reuse numbers after sampling them.

In [73]:
sample(1:10, 5, replace = TRUE)

[1] 3 1 2 3 5

## 📝 Back to the birthday problem: Finding duplicates

The code below defines a new function, `has_duplicate`.

> `has_duplicate` returns `TRUE` if a vector contains any duplicate values, and FALSE otherwise.

In [13]:
has_duplicate <- function(v) {
    any(duplicated(v))
}

Make sure to run the cell above, and then explore `has_duplicate` in the cells below.

In [16]:
vector_a <- sample(1:3, 5, replace = TRUE)
vector_a

In [18]:
has_duplicate(vector_a)

[1] TRUE

In [7]:
vector_b <- sample(1:10, 5, replace = FALSE)
vector_b

In [9]:
has_duplicate(vector_b)

[1] FALSE

### 🚀 Exercise

**Generate a vector of 60 random birthdays, and determine whether the vector has any duplicates.**

In [ ]:
# Your code here!

# START
has_duplicate(sample(1:366, 60, replace = TRUE))
# END

### 📝 Counting pairs

The code below defines another function, `num_pairs`.

`num_pairs` returns the number of pairs that can formed with duplicated values.

> In a prior math class, you may have learned that that you can form $\binom{n}{2}$ pairs from $n$ values.
>
> $\binom{n}{2} = \frac{n!}{2!(n - 2)!}$

For example, the vector `c(1, 2, 3, 3)` has two 3s, so `num_pairs` should return $\binom{2}{2} = 1$. In other words, we can only make one pair of identical numbers.

The vector `c(1, 2, 3, 3, 3, 3)` has four 3s, so `num_pairs` should return $\binom{4}{2} = 6$.

The vector `c(1, 2, 3, 4, 5, 5, 5, 6, 6)` has three 5s and two 6s, so `num_pairs` should return $\binom{3}{2} + \binom{2}{2} = 4$.

In [ ]:
# don't worry at all about studying/understanding this specific function!
num_pairs <- function(v) {
    duplicated_indices <- duplicated(v)
    duplicated_values <- v[duplicated_indices]
    duplicated_counts <- table(duplicated_values) + 1
    sum(choose(duplicated_counts, 2))
}

In [ ]:
num_pairs(c(1, 2, 3, 3))

In [ ]:
num_pairs(c(1, 2, 3, 3, 3, 3))

In [ ]:
num_pairs(c(1, 2, 3, 4, 5, 5, 5, 6, 6))

### 🚀 Exercise

**Think back to the John Smith example:**

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970. From those 141 individuals, we can make 27 pairs with exactly the same birthday.

**Generate a vector of 141 random birthdays, and determine how many duplicate pairs can be formed from elements in the vector.** Run your code repeatedly to see how the results can change due to randomness.

In [43]:
# Your code here!

# START
num_pairs(sample(1:366, 141, replace = TRUE))
# END

[1] 28

### ⏭️ Optional extension Problem

Generate a vector of 141 birthdays occurring over 10 years (so far, we've ignored the year). Calculate the number of pairs that can be formed.

In [60]:
# Your code here!

# START
num_duplicates(sample(1:(365*10), 141, replace = TRUE))
# END

[1] 3

### 📝  Repetition with `for` loops

Recall the third step in our algorithm:

> We need to repeat this process over and over.

The `for` loop lets us do exactly this. Here's the syntax for a `for` loop:

```
for (element in vector) { 
    perform an action
}
```

Run the following cell to see a `for` loop in action:

In [61]:
for (i in 1:10) {
    print("Hello, world!")
}

[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"

Here's what's going on:

1. `R` iterates through each number in the vector `1:10`.
2. The first number is `1`. Create a variable `i` with the value 1.
> `i <- 1`
3. Do what's in the brackets. So, print `Hello, world!`.
> `print("Hello, world!")`
4. Repeat steps 2 and 3 for the rest of the vector.
> `i <- 2`; `print("Hello, world!")`; `i <- 3`; `...` ; `i <- 10`; `print("Hello, world!")`

We can do more than just print:

In [62]:
for (i in 1:3) {
    print(sample(1:20, 5, replace = TRUE))
}

[1] 10  9 10  9 11
[1]  3  8 20  3  6
[1]  7 12  8  9 20

We can also use the `i` variable inside of our `for` loop:

In [63]:
for (i in 10:15) {
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

🔎 `for` loops are typically not the most efficient way to solve problems in `R`, but they are a handy tool for learning about iteration.

> Instead, it is best to use a vectorized function, such as `replicate` or `map`. We will see an example later on.

## 🚀 Exercise

**Using a `for` loop, print 5 vectors with each containing 60 random birthdays.**

In [24]:
# Your code here!

# START
for (i in 1:5) {
    print(sample(1:366, 60, replace = TRUE))
}
# END

 [1]  48 103  47 216 330 280 101  52 190 187 111 238  96 275 247 296 166 226 234
[20]  67 139 154 346 329   3  79 327  58  12  18  31 364 199 199 129 277 360 128
[39]  53 212 133  16 329 176  69 347 193 221 186 263  15  82  92 323 303 333 201
[58] 128 111 250
 [1] 170  14 162  14 355  43 304  65 123 262  33 128 116  12   5 139 346 320 175
[20] 324 241  56 342 207 323 124  37 270  25 310  59 130 365  77 364  24 323 227
[39]  79  62  14 222 111 285 218  62 173  20 207 252  38  87 186 152  15 218 353
[58] 234 343  61
 [1]  97 281 236 351 303 130   7 275 235 207 208  89 361 303 145 314  58  38  15
[20] 205   2  67 221 172 242  92 340 180 160  86 146 306  20   8 151 115 206  67
[39] 143 347  48 227 130 354  83  59 201 326 268 205 311 265  57 140 244 322 320
[58]  67 199 259
 [1] 275  78  24 156 257 178 270 262  27 297  16  35 216 154  67 283  87  25 130
[20]  54 116 312  27 123 178 139  60 319 291 292 248 261 226 365  34  77 344  85
[39] 130 118 342 180 210 278 309  26 173 156  28 253 333 239 331 245  27   9  75
[58] 241 142 103
 [1] 291 207 197 219  94  89  63 288  23 127 145  58 274 220 279 338 249 308 223
[20] 205 128 315 184 120 225 334 192 241 167  19  62  95 283 214 218 227 149 156
[39]  60 149 243 115  66 153  18 318 363 114 179  61  19 206 325 284  29 306  22
[58] 183 359 193
 [1] 261 289 237 156 263  25 211 221 286 316 339 163 249  25  40 325 293 196  33
[20] 292  62 135  87 281 335 207  65 257 209 160  10  37 186 353  71  13 307  99
[39] 363 127  33 247  22 120 145 237 358 137  63 150 208 152 131 229 231 122  90
[58] 184 232 264
 [1] 216 102  63 186  93 274  71 228  17  18  54 100 204  98 121 292 127 195 205
[20] 272 281 185 309 288  80 257 128 309  39 128  77 168 241  50 318 184  85 293
[39] 173 208   9 239 155 158 258 151  77 103 302 112 301 227 184 303 113 343 218
[58]  38 307   5
 [1]  50  26   8 334 295 297 291  19 150 242 341  80 189 107  70 109 103 282 323
[20]  42 239 242 122 343 232 173 150 151 269  69 299 348 330 105  92 124 201  27
[39] 167 244 174 150 158 120 363  83 341 320 174 247 138 230  35 195 349  23 229
[58] 199 322  85
 [1]   6  51 285 199  97   9 353  85  11 358 267  36 138  95  41 159 251  98 160
[20] 181 334 222 128  71  83 335 361 349 341 151 285 201 334 209  91 145 284 296
[39]  88 310  73  50 124 358 213  63 105 275  28 259 170 128 353 308 345 327 304
[58] 312 213 357
 [1]  29 113 137 200  15 322  82  40 104  78 190 355 284   1 227 130 164  12 257
[20] 298 252 146 119 306  82 205 340 208 337 211  82 249 285 146 174 156 273   7
[39] 250  99 285  20 209   6 181  93 339 126  31 246  22 296  26 339  85 312 304
[58]  65 311 307

## 🚀 Exercise

**Using a `for` loop and a counter, add up all the numbers from 1 to 100.**

To get you started, here's how you could use a counter to count to 5:

In [19]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    print(counter)
}

print("Final value of counter:")
print(counter)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] "Final value of counter:"
[1] 5

In [25]:
# Your code here!

# START
counter <- 0

for (i in 1:100) {
    counter <- counter + i
}

print(counter)
# END

[1] 5050

### ⏭️ Optional extension problem

Use a `for` loop to print the first odd number, the sum of the first two odd numbers, the sum of the first three odd numbers, ..., all the way up to the sum of the first 10 odd numbers.

In [69]:
# Your code here!

# Note: sum(1:5) = 1 + 2 + 3 + 4 + 5

# START
numbers <- 1:10
for (number in numbers) {
    odd_nums <- seq(1, 2*number, by=2)
    print(sum(odd_nums))
}
# END

[1] 1
[1] 4
[1] 9
[1] 16
[1] 25
[1] 36
[1] 49
[1] 64
[1] 81
[1] 100

## 🎶 Interlude: Booleans and control flow

### 📝 Control flow with booleans, `if`, and `else`

Booleans are a special type of variable that can take on only two possible values: `TRUE` or `FALSE`.

> *Historical note*: Booleans are named after George Boole, a 19th century mathematician. https://en.wikipedia.org/wiki/George_Boole

Booleans come in handy when you're comparing values.

In [76]:
10 == 10

[1] TRUE

In [77]:
9 == 10

[1] FALSE

---

The double equal sign ( `==` ) is different than the single equal sign ( `=` ).

> While a single equal sign is used to <i>assign</i> values to arguments inside functions, a double equal sign is used to <i>compare</i> values.

---

We can also use greater than ( `>` ) and less than ( `<` ) to compare values:

In [104]:
9 < 10

[1] TRUE

In [107]:
10 > 10

[1] FALSE

In [108]:
# <= means "less than or equal to", and >= means "greater than or equal to"

10 >= 10

[1] TRUE

---

We can use `if` in conjunction with booleans to control our code:

> if (this statement is true) {do this thing}

In [21]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
}

[1] 1
[1] 2
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

---

In computer science, `else` means "otherwise". We can use `if` and `else` with each other to write code that follows this pattern:

> if (this statement is true) {
>
>> do this thing
>
> }
>
> else {
>
>> do this other thing
>
> }

In [80]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    
    print(counter)
    
    if (counter >= 3) {
        print("Counter is now bigger than or equal to 3!")
    }
    else {
        print("Counter is less than 3!")
    }
}

[1] 1
[1] "Counter is less than 3!"
[1] 2
[1] "Counter is less than 3!"
[1] 3
[1] "Counter is now bigger than or equal to 3!"
[1] 4
[1] "Counter is now bigger than or equal to 3!"
[1] 5
[1] "Counter is now bigger than or equal to 3!"

### 🚀 Exercise

**Write a `for` loop to count off all the numbers from 1 to 10. Print "Bigger than 5!" after each number that is bigger than 5.**

In [81]:
# Your code here!

# START
for (i in 1:10) {
    print(i)
    
    if (i > 5) {
        print("Bigger than 5!")
    }
}
# END

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] "Bigger than 5!"
[1] 7
[1] "Bigger than 5!"
[1] 8
[1] "Bigger than 5!"
[1] 9
[1] "Bigger than 5!"
[1] 10
[1] "Bigger than 5!"

### 🚀 Exercise

**Generate a vector of 60 birthdays, and print the birthdays that fall in the first half of the year.**

In [82]:
# Your code here!

# START
birthdays <- sample(1:366, 60, replace = TRUE)

for (birthday in birthdays) {
    if (birthday < 183) {
        print(birthday)
    }
}
# END

[1] 16
[1] 45
[1] 19
[1] 131
[1] 51
[1] 36
[1] 145
[1] 138
[1] 23
[1] 102
[1] 181
[1] 178
[1] 3
[1] 3
[1] 85
[1] 147
[1] 140
[1] 56
[1] 74
[1] 152
[1] 43
[1] 117
[1] 108
[1] 102
[1] 102
[1] 151
[1] 175
[1] 96

## Back to the birthday problem: Translating our algorithm into code

We're ready to come back to our algorithm:

> 1. We need a room of 60 people, and we need to know their birthdays.
> 2. We need to check whether two people in that room share a birthday.
> 3. We need to repeat this process over and over.
> 4. We need to figure out how frequently two or more people shared a birthday.

### 🚀 Exercise

**Translate our algorithm into code to solve the birthday problem!**

In [34]:
# Your code here!

# START
# This is the total number of birthday vectors we will generate
n <- 1000

# This is a counter to keep track of how many vectors had at least one duplicate birthday
n_with_duplicates <- 0

# Each time we see a vector with at least one duplicate, we should increment our counter
for (i in 1:n) {
    
    if (has_duplicate(sample(1:366, 60, replace = TRUE))) {
        
        n_with_duplicates <- n_with_duplicates + 1
    }
    
}

# Fraction of vectors with at least one duplicate
n_with_duplicates / n
# END

[1] 0.994

### 🚀 Exercise

**A. Increase the number of birthdays we generate in each vector, and re-run the code several times. What happens to the fraction of vectors with duplicates?**

---

**B. Decrease the number of birthday vectors to 100, and re-run the code several times. What happens to the results?**

---

**C. Increase the number of birthday vectors to 100,000, and re-run the code several times. What happens to the results?**

---

**D. How many birthdays should be in each vector for an approximately 50% chance of a match?**

---

## Circling back to double voting

Remember our original problem:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 pairs had exactly the same birthday.

## 🚀 Exercise

**Modify the simulation code to calculate the average number of birthday duplicates in 1,000 vectors of 141 individuals.**

In [33]:
# Your code here!

# START
n <- 1000

n_duplicates <- 0

for (i in 1:n) {
    
    n_duplicates <- n_duplicates + num_duplicates(sample(1:366, 141, replace = TRUE))
    
}

n_duplicates / n
# END

[1] 23.617

### ⏭️ Optional extension problem

The code your wrote above probably returned a value that is smaller than 27, which is how many duplicate birthdays there were for our original list of 141 birthdays. Why?

Hint: think about the value that the `num_duplicates` function returns.

##### ***Double click on this text to write your answer!***

In [85]:
# Use this space to play around with num_duplicates!

# START
# The num_duplicates function returns the number of extra times a value appears, 
# not the total number of times a duplicated value appears. So, num_duplicates(1,1,1)
# returns 2, but for the birthday problem, it should really return 3.
# END

### 📝 Extension topic: Vectorized functions

Often, we'll want to apply the same function to every element in a vector. Rather than use a `for` loop, it is more efficient to use a vectorized function, such as `replicate` or `map`. 

> 🔎 Vectorization leverages parallel processing, which allows your computer to tackle multiple computations at the same time.

Here's how `replicate` works:

> `replicate(number of times to perform an action, the action)`

### ⏭️ Optional extension problem

**Use `replicate` to generate 3 vectors of 10 random birthdays.**

In [74]:
# Your code here!

# START
replicate(3, sample(1:366, 10, replace = TRUE))
# END

      [,1] [,2] [,3] [,4] [,5]
 [1,] 226  135  158  333   70
 [2,] 110   44  203  135  271
 [3,] 112  157  173  175   85
 [4,]  81  175  346    4  162
 [5,]  27  170  200  245   71
 [6,] 291  201  251  140  183
 [7,]   5  126   55  161  333
 [8,]  54  314  111  355  149
 [9,] 113   62  234    8  112
[10,] 152  344   35   81   15

### ⏭️ Optional extension problem

`map` is a function from the `purrr` package that is more powerful than `replicate`. You can read more about `map` [at this link](https://purrr.tidyverse.org/reference/map.html).

> `purrr` is part of the `tidyverse`, a set of popular `R` packages used for data analysis. We will learn more about the `tidyverse` in a later tutorial. 

Use `purrr::map` to generate 3 vectors of 10 random birthdays.

In [79]:
# Your code here!

# START
purrr::map(1:3, ~ sample(1:366, 10, replace = TRUE))
# END

[[1]]
 [1]  30 345 103 300  69 122 231 205 278 172

[[2]]
 [1] 112 313 265 298  52 123 264 242  31 277

[[3]]
 [1] 180 144 247 285 246 220 265 159 127 322

[[4]]
 [1] 250  66 216 311 363  11 263 167 160 138

[[5]]
 [1] 184   8 334 169 269  79 234 334  21 181

### ⏭️ Optional extension problem

Solve the birthday problem without using a `for` loop.

How many birthday pairs would you expect to form with 141 individuals?

In [ ]:
# START
n_sims = 1000
sim_counts = map_dbl(1:n_sims, ~ num_duplicates(sample(1:366, 141, replace = TRUE)))
print(mean(sim_counts))
# END